body {
    font-family: 'Arial', sans-serif;
}

#multi-step-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.btn-outline-primary {
    border: 2px solid;
    color: #007bff;
    background-color: #fff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.progress {
    height: 10px;
}

.previous-step,
.next-step {
    width: 48%;
}
